/* styles.css */
body {
    font-family: 'Fredoka', Arial, sans-serif;
    color: #033f63;
    /* background-color: #033f631a; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginTitle {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#loginModal input {
    font-size: 20px;
    margin-bottom: 15px;
}

#loginModal label {
    display: block;
}

#outerDiv {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-items: center;
}

#titleDiv {
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#headerDiv {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    width: 100%;
    justify-content: space-around;
}

#headLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#welcomeDiv {
    display: flex;
    text-align: center;
    width: 100px;
}

#headRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#wordDiv {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100%;
    margin: 10px 0;
    justify-content: center;
}

.letterBox {
    flex: 1;
    min-width: 0;
    text-align: center;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 8px;
    outline: none;
    font-family: 'Fredoka', Arial, sans-serif;
    color: #033f63;
}

.letterBox.locked {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#clueDiv {
    display: flex;
    flex-direction: column;
    height: 116px;
    margin: 10px 0;
}

#clueTitleDiv {
    font-size: 24px;
    font-weight: bold; 
}

.clueNDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 24px;
    width: 370px;
}

#btnDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btnDivTop {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#btnDivBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 150px;
    height: 40px;
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 20px;
    color: #033f63;
}

#scoringDiv {
    display: flex;
    flex-direction: column;
    height: 116px;
    margin: 20px 0;
    width: 370px;
}

#scoringTitle {
    font-size: 24px;
    font-weight: bold;
}

#scoringBody {
    white-space: pre-wrap;
}